.btn-brand-bg{
   background-color: #B68C5A; 
}
/* hero area */
.hero-area{
    background-image: url(./images/banner.png);
}
/* testimonial area */
.slider-bg{
background-position: center;
background-size: cover;
padding:80px 0 ;
}
.slider-bg-1{
 background: url('./images/Rectangle\ 7.png'), url('./images/slider-1.jpg');   
}
.slider-bg-2{
background: url('./images/Rectangle\ 7.png'), url('./images/slider-2.jpg'); ;
}
.slider-bg-3{
background: url('./images/Rectangle\ 7.png'), url('./images/slider-3.jpg'); ;
}

/* footer style */
footer ul{
    padding: 0;
    margin: 0;
}
footer li{
    list-style: none;
}